*.pyc
*.so
*.o
*.a
.DS_store
#*
.#*
*~
Makefile.local
setup_local.py
build
dist
test/*
!test/*.py
!test/cpp
!test/cpp/
!test/issues/*.py
!test/issues/data_3960/VisIt_volume
*.egg-info
*.py#
.venv/**
external/**
mfem/**/**.cxx
mfem/**/**.py
mfem/**/**.h
examples/sol*.**
examples/mesh*.**
examples/**.mesh
mfem/common/existing_mfem_headers.i
